<header role="banner" class="flex container">
</header>

<main class="container" id="newContent">
  {{outlet}}
</main>

<div class="container">
  <footer class="row">
    <div class="avatar-bottom-margin">
    </div>
  </footer>
</div>
