<!--All of the below html is put in index.html's BODY tag-->
<script src="assets/vendor.js"></script>
<script src="assets/jolli.js"></script>

<style>
  *:not([class^="icon-"]):not([class*=" icon-"]) {
    text-align:center !important;
  }
  .nav {
  padding: 0 !important;
  }
  .nav li {
  background: none !important;
  margin: 0 !important;
  padding: 0 !important;
  }
  .content-division {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
</style>

<div class="container">
  <!--div that contains the HEADER and NAVBAR-->
  <div id="top" class="row header-wrap">

    <!--Supposed to be a shortcut for the header. Don't worry about this.-->
    <a href="#nav-section" class="skip">Skip to Navigation</a>

    <!--HEADER (top of the page containing the auburn icon and the top-right search bar)-->
    <header role="banner">
      <div class="logo hidden-print" onclick="window.location='https://www.auburn.edu'" title="AU Homepage" aria-label="Auburn University Homepage">
        <img src="https://www.auburn.edu/outreach/template_files/headerLogo.png" alt="Auburn University Homepage"/>
      </div>
      <div class="menu-icon hidden-print" data-toggle="offcanvas">
        <i class="icon-reorder"></i>
      </div>
      <div class="header-title">
        <div class="top-links hidden-print">
          <a href="https://www.auburn.edu/main/sitemap.php">A-Z Index</a> | <a href="https://www.auburn.edu/map">Map</a> | <a href="https://www.auburn.edu/main/auweb_campus_directory.html" class="lastTopLink">People Finder</a>
        </div>
        <form action="https://search.auburn.edu" class="search-form form-group hidden-print" method="get">
          <div class="search-box">
            <input type="text" name="q" id="q" role="search" accesskey="q" tabindex="1" class="search-field form-control" placeholder="Search AU..." value=""/>
          </div>
          <input type="hidden" name="cx" value="006456623919840955604:pinevfah6qm"/>
          <input type="hidden" name="ie" value="utf-8"/>
          <label for="q" class="form-control" style="position: absolute; left: -9999px; visibility: hidden;">Enter your search terms</label>
        </form>
        <div class="title-area">
          <img class="visible-print" src="//cdn.auburn.edu/assets/img/header-logo-print.png" height="48" width="245" alt="Auburn University Logo"/>
          <div class="main-heading hidden-print">
            <a href="">Osher Lifelong Learning Institute</a>
          </div>
          <div class="sub-heading hidden-print">
            <a href="https://www.auburn.edu/outreach">University Outreach</a>
          </div>
        </div>
      </div>
    </header>

    <!--Supposed to be a shortcut for the navbar. Don't worry about this.-->
    <a href="#content" class="skip">Skip to Main Content</a>


  </div>

  <!--This all of the PAGE CONTENT containing the sidebar and main body -->
  <div id="content wrapper" class="row row-offcanvas row-offcanvas-left content-area" style="margin-top: 30px;">

     <!--This is the SIDEBAR. It doesn't function properly -->
        <div id="sidebar" class="hidden-print col-lg-3 sidebar sidebar-offcanvas" style="text-align: left !important; display: block !important; left: initial !important; float: left; width: 20%; margin-left: 0px;">
            <div class="sidebar-content accordion">
                <a class="olli upLink" href="">LINKS</a>
                <a class="olli" href="about">About Us</a>
                <a class="olli" href="courses">Courses</a>
                <a class="olli" href="bulletinboard.pdf" onclick="urlencode(this); return false;">Newsletter</a>
                <a class="olli" href="calendar">Calendar</a>
                <a class="olli" href="donate">Donate</a>
                <a class="olli" href="contact">Contact Us</a>
                <a class="olli" href="contact">Social Media Links</a>
                <a class="olli" href="writingourlives">Writing Our Lives Sampler</a>
                <a href="http://nrc.northwestern.edu/" target="new">
                        <img class="img-responsive" src="ollilogo.png" alt="OLLI" />
                </a>
                <div class="orange-bar">&nbsp;</div>
                <a href="https://www.auburn.edu/outreach">University Outreach</a>
                <div class="orange-bar">&nbsp;</div>
                <div align="center">
                    <a href="https://www.facebook.com/OLLIatAuburn" target="new">
                        <img class="img-responsive" src="facebook2.png" alt="Like us on Facebook" />
                    </a>
                    <br />
                    <a href="https://twitter.com/olliatauburn" target="new">
                        <img class="img-responsive" src="twitter.png" alt="Follow @olliatauburn" />
                    </a>
                    <br />
                    <!--<a href="giving" target="new">
                        <img src="givebutton.png" class="img-responsive" alt="Giving to OLLI" />
                    </a>
                    <br />-->
                </div>
                <br />
                <br />
                <br />
            </div>
        </div>

    <!--This is the "MAIN" BODY-->
    <div class="content-division col-lg-9" id="wrapper" role="main">
      <section class="row banner">
        <div class="col-md-4 emblem resource-emblem">
          <div class="emblem-header">
            <h2>
              <a href="https://mell-base.uce.auburn.edu/wconnect/ShowSchedule.awp?&Mode=GROUP&Group=POAAUL&Title=OLLI+Membership+at+Auburn+University&SubGroup=POA  ">Register for courses</a>
            </h2>
          </div>
          <div class="emblem-body">
            <a href="/fall-registration-form.pdf">Prefer a print-out form?</a>
          </div>
        </div>
        <div class="col-md-4 emblem resource-emblem">
          <div class="emblem-header">
            <h2>Course listings</h2>
          </div>
          <div class="emblem-body">
            <a class="resource" href="/fall-course-catalogue.pdf">
              <!--source is http://www.interskill.com/mid-menu-icon-catalog.png -->
              <img class="fa fa-file-pdf-o" src="fall-catalogue.png" width="100%" height="100%"></img>
              <br />
              Fall catalogue
            </a>
            <a class="resource" href="/fall-course-grid.pdf">
              <!-- source is http://www.clker.com/cliparts/U/X/h/H/b/m/grid-9-solid-hi.png-->
              <img class="fa fa-th" src="grid-view.png" width="100%" height="100%"></img>
              <br />
              Grid view
             <!-- <p style="line-height: -30%">Grid view</p>-->
            </a>
            <a class="resource" href="/fall-course-descriptions.pdf">
              <!--http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/blue-jelly-icons-business/078508-blue-jelly-icon-business-document8.png-->
              <img class="fa fa-list" src="descriptive-view.png" width="100%" height="100%"></img>
              <br />
              Descriptive view
            </a>
          </div>
        </div>
        <div class="col-md-4 emblem resource-emblem">
          <div class="emblem-header">
            <h2>Materials</h2>
          </div>
          <div class="emblem-body">
            <a class="resource" href="http://olliatauburn.org/coursematerials.htm">
              <!-- source is http://www.harvardready.com/res/img/hr_icons_comprehension-large.gif -->
              <img class="fa fa-book" src="course-specific-materials.png" width="100%" height="100%"></img>
              <br />
              Course-specific materials
            </a>
            <a class="resource" href="https://auburn.qualtrics.com/SE/?SID=SV_8bPoCLNnfT6ZJvD">
              <!-- source is http://www.imageburst.com/wp-content/uploads/2012/06/icon_request_proposal_square.png-->
              <img class="fa fa-graduation-cap" src="propose-a-course.png" width ="100%" height="100%"></img>
              <br />
              Propose a course
            </a>
            <a class="resource" href="https://auburn.qualtrics.com/SE/?SID=SV_7Nx3c6asMFM1igR">
              <!-- source is http://us.cdn3.123rf.com/168nwm/olshole/olshole1405/olshole140500019/28031409-paper-bag-isolated-on-white-vector-illustration.jpg -->
              <img class="fa fa-file-powerpoint-o" src="brown-bag-proposal.png" width ="100%" height ="100%"></img>
              <br />
              Propose a Brown Bag Presentation
            </a>
          </div>
        </div>
      </section>
<!--      <section>
        <h2>Historical course listings</h2>
        <h2>2013-2014</h2>
        <h3>Fall 2013</h3>
        <ul>
          <li>
            <a>Newspaper insert</a>
          </li>
        </ul>
        <h3>Spring 2014</h3>
        <ul>
          <li>
            <a>Newspaper insert</a>
          </li>
          <li>
            <a>Grid view</a>
          </li>
          <li>
            <a>Descriptive view</a>
          </li>
        </ul>
        <h3>Summer 2014</h3>
        <ul>
          <li>
            <a>Flyer</a>
          </li>
        </ul>
      </section>-->
    </div>
    </div>
    <!--Part of the page that is under the "main" body-->
    <div class="row footer-wrap hidden-print" id="newFooter">
      <!--footer is the part of the page in blue (between the background image and bottom text)-->
      <div id="footer">
        <div class="footSection">
          <div class="row links">
            <!--<a href="https://www.facebook.com/OLLIatAuburn">
              <div class="col-md-2 links-fb">
                Facebook
              </div>
            </a>
            <a href="https://twitter.com/OLLIatAuburn">
              <div class="col-md-2 links-tw">
                Twitter
              </div>
            </a>
            <a href="http://tedolliau.wordpress.com/">
              <div class="col-md-2 links-ted">
                TED
              </div>
            </a>
            <a href="http://osher.net">
              <div class="col-md-2 links-olli">
                OLLI
              </div>
            </a>
            <a href="/faqs">
              <div class="col-md-2 links-faq">
                FAQ
              </div>
            </a>
            <a href="/newsletter.pdf">
              <div class="col-md-2 links-feat">
                News
              </div>
            </a>-->
          </div>
        </div>
      </div>
    </div>
    <!--Text at the bottom of the page-->
      <div class="subfooter" role="contentinfo">
        Osher Lifelong Learning Institute at Auburn University | 301 O.D. Smith Hall | Auburn, Alabama 36849<br/>
        Phone: (334) 844-3102 - or - (334) 844-3105 | Fax: (334) 844-3101 |
        <script type="text/javascript">
          emailE = 'auburn.edu'; emailE = ('olli' + '@' + emailE); document.write("<a href='mailto:" + emailE + "'>" + emailE + "</a>");
        </script>
         <a href="https://www.auburn.edu/privacy">Privacy</a> | <a href="https://www.auburn.edu/oit/it_policies/copyright_regulations.php">
          Copyright &copy; 2015<script type="text/javascript">date = new Date(); document.write(date.getFullYear());</script>
        </a>
      </div>
</div>
<!-- /container -->

<!--This is supposed to be an icon that allows the user to go to the top of the page with a click, but it is not working properly-->
<!--<div class="to-top" style="display: none;">
  <a href="#top"></a>
</div>-->



<!-- OLD CODE
<section class="row banner">
  <div class="col-md-4 emblem resource-emblem">
    <div class="emblem-header">
      <h2><a href="https://mell-base.uce.auburn.edu/wconnect/ShowSchedule.awp?&Mode=GROUP&Group=POAAUL&Title=OLLI+Membership+at+Auburn+University&SubGroup=POA  ">Register for courses</a></h2>
    </div>
    <div class="emblem-body">
      <a href="/fall-registration-form.pdf">Prefer a print-out form?</a>
    </div>
  </div>
  <div class="col-md-4 emblem resource-emblem">
    <div class="emblem-header">
      <h2>Course listings</h2>
    </div>
    <div class="emblem-body">
      <a class="resource" href="/fall-course-catalogue.pdf">
        <i class="fa fa-file-pdf-o"></i>
        <br />
        Fall catalogue
      </a>
      <a class="resource" href="/fall-course-grid.pdf">
        <i class="fa fa-th"></i>
        <br />
        Grid view
      </a>
      <a class="resource" href="/fall-course-descriptions.pdf">
        <i class="fa fa-list"></i>
        <br />
        Descriptive view
      </a>
    </div>
  </div>
  <div class="col-md-4 emblem resource-emblem">
    <div class="emblem-header">
      <h2>Materials</h2>
    </div>
    <div class="emblem-body">
      <a class="resource" href="http://olliatauburn.org/coursematerials.htm">
        <i class="fa fa-book"></i>
        <br />
        Course-specific materials
      </a>
      <a class="resource" href="https://auburn.qualtrics.com/SE/?SID=SV_8bPoCLNnfT6ZJvD">
        <i class="fa fa-graduation-cap"></i>
        <br />
        Propose a course
      </a>
      <a class="resource" href="https://auburn.qualtrics.com/SE/?SID=SV_7Nx3c6asMFM1igR">
        <i class="fa fa-file-powerpoint-o"></i>
        <br />
        Propose a Brown Bag Presentation
      </a>
    </div>
  </div>
</section>
<section class="row">
  <h2>Historical course listings</h2>
  <h2>2013-2014</h2>
  <h3>Fall 2013</h3>
  <ul>
    <li><a>Newspaper insert</a></li>
  </ul>
  <h3>Spring 2014</h3>
  <ul>
    <li><a>Newspaper insert</a></li>
    <li><a>Grid view</a></li>
    <li><a>Descriptive view</a></li>
  </ul>
  <h3>Summer 2014</h3>
  <ul>
    <li><a>Flyer</a></li>
  </ul>
</section>-->

