<!--All of the below html is put in index.html's BODY tag-->
<script src="assets/vendor.js"></script>
<script src="assets/jolli.js"></script>

<style>
  .nav {
  padding: 0 !important;
  }
  .nav li {
  background: none !important;
  margin: 0 !important;
  padding: 0 !important;
  }
</style>

<div class="container">
  <!--div that contains the HEADER and NAVBAR-->
  <div id="top" class="row header-wrap">

    <!--Supposed to be a shortcut for the header. Don't worry about this.-->
    <a href="#nav-section" class="skip">Skip to Navigation</a>

    <!--HEADER (top of the page containing the auburn icon and the top-right search bar)-->
    <header role="banner">
      <div class="logo hidden-print" onclick="window.location='https://www.auburn.edu'" title="AU Homepage" aria-label="Auburn University Homepage">
        <img src="https://www.auburn.edu/outreach/template_files/headerLogo.png" alt="Auburn University Homepage"/>
      </div>
      <div class="menu-icon hidden-print" data-toggle="offcanvas">
        <i class="icon-reorder"></i>
      </div>
      <div class="header-title">
        <div class="top-links hidden-print">
          <a href="https://www.auburn.edu/main/sitemap.php">A-Z Index</a> | <a href="https://www.auburn.edu/map">Map</a> | <a href="https://www.auburn.edu/main/auweb_campus_directory.html" class="lastTopLink">People Finder</a>
        </div>
        <form action="https://search.auburn.edu" class="search-form form-group hidden-print" method="get">
          <div class="search-box">
            <input type="text" name="q" id="q" role="search" accesskey="q" tabindex="1" class="search-field form-control" placeholder="Search AU..." value=""/>
          </div>
          <input type="hidden" name="cx" value="006456623919840955604:pinevfah6qm"/>
          <input type="hidden" name="ie" value="utf-8"/>
          <label for="q" class="form-control" style="position: absolute; left: -9999px; visibility: hidden;">Enter your search terms</label>
        </form>
        <div class="title-area">
          <img class="visible-print" src="//cdn.auburn.edu/assets/img/header-logo-print.png" height="48" width="245" alt="Auburn University Logo"/>
          <div class="main-heading hidden-print">
            <a href="">Osher Lifelong Learning Institute</a>
          </div>
          <div class="sub-heading hidden-print">
            <a href="https://www.auburn.edu/outreach">University Outreach</a>
          </div>
        </div>
      </div>
    </header>

    <div id="customNav" class="navbar hidden-print" role="navigation">
    </div>

    <!--Supposed to be a shortcut for the navbar. Don't worry about this.-->
    <a href="#content" class="skip">Skip to Main Content</a>
  </div>

  <!--This all of the PAGE CONTENT containing the sidebar and main body -->
  <div id="content wrapper" class="row row-offcanvas row-offcanvas-left content-area" style="margin-top: 30px;">

     <!--This is the SIDEBAR. It doesn't function properly -->
        <div id="sidebar" class="hidden-print col-lg-3 sidebar sidebar-offcanvas">
            <div class="sidebar-content accordion">
                <a class="olli upLink" href="">OLLI</a>
                <a class="olli" href="about">About Us</a>
                <a class="olli" href="courses">Courses</a>
                <a class="olli" href="bulletinboard.pdf" onclick="urlencode(this); return false;">Newsletter</a>
                <a class="olli" href="calendar">Calendar</a>
                <a class="olli" href="donate">Donate</a>
                <a class="olli" href="contact">Contact Us</a>
                <a class="olli" href="contact">Social Media Links</a>
                <a class="olli" href="writingourlives">Writing Our Lives Sampler</a>
                <a href="http://nrc.northwestern.edu/" target="new">
                        <img class="img-responsive" src="ollilogo.png" alt="OLLI" />
                </a>
                <div class="orange-bar">&nbsp;</div>
                <a href="https://www.auburn.edu/outreach">University Outreach</a>
                <br />
                <br />
                <br />
            </div>
        </div>

    <!--This is the "MAIN" BODY-->
    <div class="content-division col-lg-9" id="wrapper" role="main">
      <h2>Join OLLI at Auburn as a general or academic member.</h2>

      <div class="row">
        <div class="col-md-6">
          <h2>
            <a href="https://mell-base.uce.auburn.edu/wconnect/CourseStatus.awp?&course=A1415DUES">
              General Membership
            </a>
            <small>($25)</small>
          </h2>
          <em style="margin-top: -1rem; margin-bottom: 0;">Offered July through June</em>
          <ul>
            <li>Use all Auburn University libraries</li>
            <li>Audit select Auburn University courses</li>
            <li>Ride Tiger Transit buses</li>
            <li>Attend seminars and workshops</li>
            <li>Participate in extracurricular activities and socials</li>
            <li>Receive 10% discount at the Auburn University Bookstore</li>
          </ul>
          <a href="https://mell-base.uce.auburn.edu/wconnect/CourseStatus.awp?&course=A1415DUES" class="btn btn-join">Join as a General Member</a>
        </div>

        <div class="col-md-6">
          <h2>
            <a href="https://mell-base.uce.auburn.edu/wconnect/ShowSchedule.awp?&Mode=GROUP&Group=POAAUL&Title=OLLI+Membership+at+Auburn+University&SubGroup=POA">
              Academic Membership
            </a>
            <small>($140&ndash;225)</small>
          </h2>
          <em>Offered September through May</em>
          <p>Includes all the benefits of general membership, and allows you to take an unlimited number of OLLI courses. OLLI courses are offered during three terms&mdash;fall, winter and spring. Each term is 21 weeks.</p>
          Membership fees vary based on length of membership:
          <ul>
            <li>A single-term academic membership is $140</li>
            <li>A two-term academic membership is $165</li>
            <li>A three-term academic membership is $225</li>
          </ul>
          <p>Once payment is received, you will receive an email with a link to courses available for registration. If you purchase a multi-term academic membership, you will receive a new email before each term.</p>
          <a href="https://mell-base.uce.auburn.edu/wconnect/ShowSchedule.awp?&Mode=GROUP&Group=POAAUL&Title=OLLI+Membership+at+Auburn+University&SubGroup=POA" class="btn btn-join">Join as an Academic Member</a>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>Financial Aid</h2>
          <p>Our mission is to cultivate a community of lifelong learners. If financial issues prevent you from becoming a member of OLLI at Auburn, please fill out our Scholarship Application form. Financial assitance may be available.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>Questions?</h2>
          <p>
            We love hearing from you! Please call us with any questions at <a href="tel:3348445100">(344) 844-5100</a>.
          </p>
        </div>
      </div>
    </div>
    </div>
    <!--Part of the page that is under the "main" body-->
    <div class="row footer-wrap hidden-print" id="newFooter">
      <!--footer is the part of the page in blue (between the background image and bottom text)-->
      <div id="footer">
        <div class="footSection">
          <div class="row links">
            <!--<a href="https://www.facebook.com/OLLIatAuburn">
              <div class="col-md-2 links-fb">
                Facebook
              </div>
            </a>
            <a href="https://twitter.com/OLLIatAuburn">
              <div class="col-md-2 links-tw">
                Twitter
              </div>
            </a>
            <a href="https://tedolliau.wordpress.com/">
              <div class="col-md-2 links-ted">
                TED
              </div>
            </a>
            <a href="https://osher.net">
              <div class="col-md-2 links-olli">
                OLLI
              </div>
            </a>
            <a href="/faqs">
              <div class="col-md-2 links-faq">
                FAQ
              </div>
            </a>
            <a href="/newsletter.pdf">
              <div class="col-md-2 links-feat">
                News
              </div>
            </a>-->
          </div>
        </div>
      </div>
    </div>
    <!--Text at the bottom of the page-->
      <div class="subfooter" style="text-align:center;" role="contentinfo">
        Osher Lifelong Learning Institute at Auburn University | 301 O.D. Smith Hall | Auburn, Alabama 36849<br/>
        Phone: (334) 844-3102 - or - (334) 844-3105 | Fax: (334) 844-3101 |
        <script type="text/javascript">
          emailE = 'auburn.edu'; emailE = ('olli' + '@' + emailE); document.write("<a href='mailto:" + emailE + "'>" + emailE + "</a>");
        </script>
         <a href="https://www.auburn.edu/privacy">Privacy</a> | <a href="https://www.auburn.edu/oit/it_policies/copyright_regulations.php">
          Copyright &copy; 2015<script type="text/javascript">date = new Date(); document.write(date.getFullYear());</script>
        </a>
      </div>
</div>
<!-- /container -->