<!--All of the below html is put in index.html's BODY tag-->
<script src="assets/vendor.js"></script>
<script src="assets/jolli.js"></script>

<style>
    .nav
    {
        padding: 0 !important;
    }

        .nav li
        {
            background: none !important;
            margin: 0 !important;
            padding: 0 !important;
        }

    .content-division
    {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
</style>

<div class="container">
    <!--div that contains the HEADER and NAVBAR-->
    <div id="top" class="row header-wrap">

        <!--Supposed to be a shortcut for the header. Don't worry about this.-->
        <a href="#nav-section" class="skip">Skip to Navigation</a>

        <!--HEADER (top of the page containing the auburn icon and the top-right search bar)-->
        <header role="banner">
            <div class="logo hidden-print" onclick="window.location='https://www.auburn.edu'" title="AU Homepage" aria-label="Auburn University Homepage">
                <img src="https://www.auburn.edu/outreach/template_files/headerLogo.png" alt="Auburn University Homepage" />
            </div>
            <div class="menu-icon hidden-print" data-toggle="offcanvas">
                <i class="icon-reorder"></i>
            </div>
            <div class="header-title">
                <div class="top-links hidden-print">
                    <a href="https://www.auburn.edu/main/sitemap.php">A-Z Index</a> | <a href="https://www.auburn.edu/map">Map</a> | <a href="https://www.auburn.edu/main/auweb_campus_directory.html" class="lastTopLink">People Finder</a>
                </div>
                <form action="https://search.auburn.edu" class="search-form form-group hidden-print" method="get">
                    <div class="search-box">
                        <input type="text" name="q" id="q" role="search" accesskey="q" tabindex="1" class="search-field form-control" placeholder="Search AU..." value="" />
                    </div>
                    <input type="hidden" name="cx" value="006456623919840955604:pinevfah6qm" />
                    <input type="hidden" name="ie" value="utf-8" />
                    <label for="q" class="form-control" style="position: absolute; left: -9999px; visibility: hidden;">Enter your search terms</label>
                </form>
                <div class="title-area">
                    <img class="visible-print" src="//cdn.auburn.edu/assets/img/header-logo-print.png" height="48" width="245" alt="Auburn University Logo" />
                    <div class="main-heading hidden-print">
                        <a href="">Osher Lifelong Learning Institute</a>
                    </div>
                    <div class="sub-heading hidden-print">
                        <a href="https://www.auburn.edu/outreach">University Outreach</a>
                    </div>
                </div>
            </div>
        </header>

        <!--Supposed to be a shortcut for the navbar. Don't worry about this.-->
        <a href="#content" class="skip">Skip to Main Content</a>


    </div>

    <!--This all of the PAGE CONTENT containing the sidebar and main body -->
    <div id="content wrapper" class="row row-offcanvas row-offcanvas-left content-area" style="margin-top: 30px;">

        <!--This is the SIDEBAR. It doesn't function properly -->
        <div id="sidebar" class="hidden-print col-lg-3 sidebar sidebar-offcanvas" style="text-align: left !important; display: block !important; left: initial !important; float: left; width: 20%; margin-left: 0px;">
            <div class="sidebar-content accordion">
                <a class="olli upLink" href="">LINKS</a>
                <a class="olli" href="about">About Us</a>
                <a class="olli" href="courses">Courses</a>
                <a class="olli" href="bulletinboard.pdf" onclick="urlencode(this); return false;">Newsletter</a>
                <a class="olli" href="calendar">Calendar</a>
                <a class="olli" href="donate">Donate</a>
                <a class="olli" href="contact">Contact Us</a>
                <a class="olli" href="contact">Social Media Links</a>
                <a class="olli" href="writingourlives">Writing Our Lives Sampler</a>
                <a href="http://nrc.northwestern.edu/" target="new">
                    <img class="img-responsive" src="ollilogo.png" alt="OLLI" />
                </a>
                <div class="orange-bar">&nbsp;</div>
                <a href="https://www.auburn.edu/outreach">University Outreach</a>
                <div class="orange-bar">&nbsp;</div>
                <div align="center">
                    <a href="https://www.facebook.com/OLLIatAuburn" target="new">
                        <img class="img-responsive" src="facebook2.png" alt="Like us on Facebook" />
                    </a>
                    <br />
                    <a href="https://twitter.com/olliatauburn" target="new">
                        <img class="img-responsive" src="twitter.png" alt="Follow @olliatauburn" />
                    </a>
                    <br />
                    <!--<a href="giving" target="new">
                        <img src="givebutton.png" class="img-responsive" alt="Giving to OLLI" />
                    </a>
                    <br />-->
                </div>
                <br />
                <br />
                <br />
            </div>
        </div>

        <!--This is the "MAIN" BODY for the index page -->
        <div class="content-division col-lg-9" role="main">
            <!-- InstanceBeginEditable name="body" -->
            <div class="midContent">
                <h1>Writing Our Lives</h1>
                <p>
                    <img class="img-responsive" src="writingourlives_clip_image002.png" alt="writing"></p>

                <h4>The Writing Our  Lives Web Sampler:</h4>
                <h5>The OLLI Course</h5>
                <p>This web sampler contains lifestories written by members of the Writing Our Lives  class offered each term by OLLI at Auburn.</p>
                <p>Our writing group began ten years ago, a spin-off of a course in which we read  memoir essays by famous writers with Alabama roots. Throughout our discussions in that class, members connected the famous writers’ stories with their own.&nbsp; I was reminded that we all have our stories to tell—and that we don’t need much coaxing to tell them! Several classmates encouraged me to pursue  formation of a memoir-writing class. With the cooperation of the Sun Belt Writing Project, then Auburn University’s affiliate of the National Writing Project, we were able to offer the course for the first time during the 2003 fall term.&nbsp; Cathy Buckhalt, then a co-director of the Sun  Belt Writing Project, led our group during that term.&nbsp; When the term ended, Cathy had to return to  her other obligations, but we did not want to stop our writing.&nbsp; We decided to assume the leadership for the  course ourselves so that we could continue. Since then, Cathy has returned as our leader each fall, and class  members and I have assumed leadership for winter and spring terms. We also meet three times each summer.</p>
                <p>We meet for ninety minutes each Tuesday morning during each of OLLI at Auburn’s three terms each year. After the leader conducts a brief writing  warm-up exercise, class members have an opportunity to share something they  have worked on during the previous week. Then the leader provides a stimulus for our writing:&nbsp; reads to us from a newspaper, a magazine, the memoir book that we have selected for our basic text, or something that he or she has written especially for the class meeting. The leader then suggests topics for writing  that are related to those stimuli. We  spend quiet time writing. During the  last ten or fifteen minutes, volunteers share what they have written. Sharing our writing is always voluntary. At the end of each term, we invite writers to contribute to our term-end publication. So far, we have produced more than twenty anthologies. We are pleased to publish on this website some of the pieces that appeared in recent print anthologies.</p>
                <p>The German philosopher Schopenhauer once wrote, “Life may be compared to a piece of embroidery, of which during the first half of his time a person gets sight of the right [front] side, and  during the second half the wrong [back] side. The wrong side is not as pretty as the right side, but it shows the way  in which the threads have been worked together.” One of the greatest benefits of actively participating in our Writing Our Lives class has been discovering the common patterns that define our lives and sharing our unique stories with others.</p>
                <p>I hope that you will enjoy this  sampler of our writers’ work.&nbsp; Perhaps it  will encourage you to join us and to apply your own pen to a blank piece of  paper!</p>

                <p><strong>Terry  C. Ley</strong><br>
                    Coordinator and Instructor<br>
                    Writing  Our Lives</p>
                <p>
                    <img class="img-responsive" src="writingourlives_clip_image004.jpg" alt="frandsen"></p>
                <ul>
                    <li><a href="WOL Webpage Curator Opening page with photo.pdf" onclick="urlencode(this); return false;">Writing Our Lives Curator page</a></li>
                    <li><em><a href="Autrey - Pappaw's Razor - Web.pdf" target="new" onclick="urlencode(this); return false;">"Pappaw's Razor"</a></em><a href="Autrey - Pappaw's Razor - Web.pdf" onclick="urlencode(this); return false;"> by Ken Autrey</a></li>
                    <li><em><a href="Cleveland - Mrs  Livingood - Web.pdf" target="new" onclick="urlencode(this); return false;">"Mrs. Livingood"</a></em><a href="Cleveland - Mrs  Livingood - Web.pdf" onclick="urlencode(this); return false;"> by Wendy Cleveland</a></li>
                    <li><em><a href="Corbin - Nancy's Legacy - Web.pdf" target="new" onclick="urlencode(this); return false;">"Nancy's Legacy"</a></em><a href="Corbin - Nancy's Legacy - Web.pdf" onclick="urlencode(this); return false;"> by Betty Corbin</a></li>
                    <li><em><a href="Frandsen - Lab Notes.pdf" onclick="urlencode(this); return false;">"Lab Notes"</a></em><a href="Frandsen - Lab Notes.pdf" onclick="urlencode(this); return false;"> by John Frandsen</a></li>
                    <li><em><a href="Williams - Last Wishes.pdf" onclick="urlencode(this); return false;">"Last Wishes"</a></em><a href="Williams - Last Wishes.pdf" onclick="urlencode(this); return false;"> by Liz Williams</a></li>
                    <li><em><a href="Edwards - The Blue Cream Pitcher.pdf" onclick="urlencode(this); return false;">"The Blue Cream Pitcher"</a></em><a href="Edwards - The Blue Cream Pitcher.pdf"onclick="urlencode(this); return false;"> by Virginia Mitchell Edwards</a></li>
                </ul>
            </div>
            <!-- InstanceEndEditable -->

            <p class="last-updated">Last Updated:
                <!-- InstanceBeginEditable name="lastUpdated" -->
                January 8, 2015<!-- InstanceEndEditable --></p>
        </div>
    </div>
    <!--Part of the page that is under the "main" body-->
    <div class="row footer-wrap hidden-print" id="newFooter">
        <!--footer is the part of the page in blue (between the background image and bottom text)-->
        <div id="footer">
            <div class="footSection">
                <div class="row links">
                    <!--<div style="padding-top:20px; float:left;">
                <a href="http://www.aaes.auburn.edu">Alabama Agricultural Experiment Station</a><br />
                <a href="http://www.aces.edu">Alabama Cooperative Extension System</a>
            </div>
            <div style="padding-top:20px; float:left;">
            <script type="text/javascript">
            $(function () {
              $(".sec").mouseover(function () { $(".socialDetails").css('background-position', '0 -72px'); });
              $(".auFamily").mouseover(function () { $(".socialDetails").css('background-position', '0 -51px'); });
              $(".iTunes").mouseover(function () { $(".socialDetails").css('background-position', '0 -114px'); });
              $(".twitter").mouseover(function () { $(".socialDetails").css('background-position', '0 -135px'); });
              $(".facebook").mouseover(function () { $(".socialDetails").css('background-position', '0 -156px'); });
              $(".youTube").mouseover(function () { $(".socialDetails").css('background-position', '0 -93px'); });
              $(".instagram").mouseover(function () { $(".socialDetails").css('background-position', '0 -198px'); });
              $(".social").mouseout(function () { $(".socialDetails").css('background-position', '0 -177px'); });
            });
            </script>
            </div>
            <div class="social" style="padding-top:20px; float:left;"><a href="http://www.facebook.com/auburnu" class="facebook social" target="_blank"></a> <a href="http://itunes.auburn.edu" class="iTunes social" target="_blank"></a> <a href="http://twitter.com/auburnu" class="twitter social" target="_blank"></a> <a href="https://instagram.com/auburnu" class="instagram social" target="_blank"></a> <a href="http://www.youtube.com/AuburnUniversity" class="youTube social" target="_blank"></a> <a href="http://family.auburn.edu" class="auFamily social" target="_blank"></a> <a href="http://www.thesecu.com" class="sec social" target="_blank"></a> </p>
            <p class="socialDetails" style="background-position: 0px -177px;"></div>-->
                </div>
            </div>
        </div>
        <!--Text at the bottom of the page-->
        <div class="subfooter" role="contentinfo">
            Osher Lifelong Learning Institute at Auburn University | 301 O.D. Smith Hall | Auburn, Alabama 36849<br />
            Phone: (334) 844-3102 - or - (334) 844-3105 | Fax: (334) 844-3101 |
        <script type="text/javascript">
            emailE = 'auburn.edu'; emailE = ('olli' + '@' + emailE); document.write("<a href='mailto:" + emailE + "'>" + emailE + "</a>");
        </script>
            <a href="https://www.auburn.edu/privacy">Privacy</a> | <a href="https://www.auburn.edu/oit/it_policies/copyright_regulations.php">Copyright &copy; 2015<script type="text/javascript">date = new Date(); document.write(date.getFullYear());</script>
            </a>
        </div>
    </div>
</div>

<!-- /container -->